.App {
  display: flex;
  min-height: 100vh;
}

.application-aside {
  flex: 0 1 auto;
  background-color: aliceblue;
  text-align: center;
  padding: 30px;
}

.content-wrapper {
  flex: 1 1 auto;
  background-color: antiquewhite;
  padding: 30px;
}

.example-wrapper {
  flex: 0 1 auto;
  width: 210px;
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
